<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>397204010510-d4el3k7888ar0jg076q381hbj24ppn43.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.397204010510-d4el3k7888ar0jg076q381hbj24ppn43</string>
	<key>API_KEY</key>
	<string>AIzaSyCYwE9GxCwp5laCbdX99R13-L3kP1uLMOw</string>
	<key>GCM_SENDER_ID</key>
	<string>397204010510</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whiteboxAms.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>ams-employees</string>
	<key>STORAGE_BUCKET</key>
	<string>ams-employees.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:397204010510:ios:3980e5fd4ebbfe36702e5f</string>
</dict>
</plist>